@charset "utf-8";

.btn {
    @include transition(all 0.3s ease 0s);
    cursor: pointer;

    &_top {
        width: 100%;
        display: block;
        padding: 74px 20px 20px 20px;
        text-align: left;
        position: relative;

        &:before {
            font-family: 'icomoon';
            content: "\ea42";

            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            position: absolute;
            top: 20px;
            left: 20px;
            font-size: 20px;
        }
    }

    @include mq(){
        &_top {
            width: 100%;
            display: block;
            padding: 20px 20px 10px 10px;
            text-align: left;

            &:before {
                top: 50%;
                left: initial;
                right: 6px;
                font-size: 16px;
                @include transform(translateY(-50%));
            }
        }
    };

    @include mq(){
        &_menu {
            width: 44px;
            height: 44px;
            line-height: 44px;
            text-align: center;
            background-color: rgba(0,0,0,0.7);
            color: #f2f2f2;
            text-decoration: none;
            font-size: 20px;

            &:hover {
                color: #ffffff;
                background-color: rgba(0,0,0,0.6);
            }

            &:before {
                font-family: 'icomoon';
                content: "\e9bd";

                font-style: normal;
                font-weight: normal;
                font-variant: normal;
                text-transform: none;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                line-height: 44px;
            }

            &_close {
                &:before {
                    content: "\ea0f";
                }
            }
        }

    };

    &_language {
        width: 60px;
        height: 36px;
        line-height: 36px;
        font-weight: bold;
        border-left: 1px dotted rgba(0,0,0,0.4);
        border-right: 1px dotted rgba(0,0,0,0.4);
    }
    @include mq(){
        &_language {
            width: 44px;
            height: 44px;
            line-height: 44px;
        }
    };

    &_accordion {
        display: block;
        width: 100%;
        position: relative;
        padding: 12px 12px 12px 40px;
        text-align: left;
        font-weight: bold;

        &:before {
            font-family: 'icomoon';
            content: "\ea42";
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            position: absolute;
            left: 12px;
            @include transition(all 0.3s ease 0s);
        }

        &.active:before {
            @include transform(rotate(90deg));
        }

        @include mq(){

        };
    }


    &_color {
        &_01 {
            background-color: #f2f2f2;
            color: $fontColorBody;
        }
        &_01:hover {
            background-color: darken(#f2f2f2, 5%);
        }
        &_02 {
            background-color: #a92a2a;
            color: map-get($fontColorArray,1);
        }
        &_02:hover {
            background-color: lighten(#a92a2a, 5%);
        }
        &_03 {
            background-color: #790707;
            color: map-get($fontColorArray,1);
        }
        &_03:hover {
            background-color: lighten(#790707, 5%);
        }
    }



    &_gNav {

        &.active {
            background-color: rgba(#ffffff, 0.3);
            cursor: default;
        }
        &:hover:not(.active) {
            background-color: rgba(#ffffff, 0.2);
        }

        @include mq(){
            position: relative;
            &:before {
                font-family: 'icomoon';
                content: "\ea42";
                font-style: normal;
                font-weight: normal;
                font-variant: normal;
                text-transform: none;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                position: absolute;
                right: 6px;
            }
        };
    }

    &_colorPanel {
        display: block;
        width: 100%;
        height: 36px;
        border: 2px dotted rgba(0,0,0,0.4);

        @include mq(){
            height: 44px;
        };

        &.active {
            border: 4px dotted rgba(0,0,0,0.4);
            cursor: default;
        }
        &:hover:not(.active) {
            opacity: 0.8;
        }
    }
}
