@charset "utf-8";


.footer {
    background-color: #0c0c0e;
    // position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    color: map-get($fontColorArray,1);

    &__inner {
        max-width: 1200px;
        margin: 0 auto;
        padding: 12px 0;
        font-size: 12px;
    }
}
