@charset "utf-8";

.menu {


    &_type {
        &_gNav {
            display: table;
            margin: 0;
            padding: 0;
            width: 100%;
        }

        @include mq(){
            &_gNav {
                display: block;
            }
        };
    }

    &__item {
        &_gNav {
            height: 34px;
            position: relative;
            width: auto;
            display: table-cell;
            vertical-align: bottom;
            border-right: 1px dotted rgba(255, 255, 255, 0.4);
        }
        @include mq(){
            &_gNav {
                display: block;
                height: 44px;
                border-right: none;
                border-bottom: 1px dotted rgba(255, 255, 255, 0.4);
            }
        };

        &_gNav:first-child  {
            border-left: 1px dotted rgba(255, 255, 255, 0.4);
        }
        @include mq(){
            &_gNav:first-child  {
                border-top: 1px dotted rgba(255, 255, 255, 0.4);
            }
        };

        &_top {
            float: left;
            width: 50%;
        }
        &_top:last-child  {
            width: 100%;
        }

        @include mq(){
            &_top {
                float: initial;
                width: 100%;
            }
        };
    }


    &__link {
        &_gNav {
            display: table-cell;
            vertical-align: middle;
            width: 600px;
            height: 36px;
            font-size: 12px;
            padding: 0;
            color: #ffffff;
            opacity: 0.9;
            text-align: center;

        }
        @include mq(){
            &_gNav {
                display: block;
                padding: 0 6px;
                height: 44px;
                line-height: 44px;
                text-align: left;
                width: 100%;
                font-size: 14px;
            }
        };
    }
}
